@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
ul{
  justify-content: right;
  display: flex;
  padding-right: 10%;
}
ul li{
  list-style-type: none;
  background-color: #ffff;
}
img{
  padding-left: 7pc;
}
.img{
  margin-top: -10px;
}
li{
  float: left;
  list-style: none;
}
li a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  padding-left: 50px;
}
section{
  padding: 10% 150px;
  font-size: xx-large;
  position: relative;
  top: -80px;
}
span{
  color: rgb(10, 88, 183);
}
.btn{
  color: #fff;
  background: rgb(10, 88, 183);
  padding: 15px;
  margin: 5px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 120px;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}